/* You can add global styles to this file, and also import other style files */
@import "~primeicons/primeicons.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "assets/showcase/css/omega/theme.css";
@import "assets/showcase/css/nicefish/layout-default.css";
ul{
  list-style: none;
  padding:0;
}
html,body
{
height: 100%;
}
.chart-container {
  width: 100%;
  height: 485px;
  margin-top: 30px;
  background-color: #fff;
  padding-top: 15px;

  .nf-chart{
      width:100%;
      height:400px;
      float:left;
      padding:1rem;
      background-color: #fff !important;
  }
}
